@use '../assets/colors.scss';

$footer-text-standard-size: 1.25rem;
$footer-spacing-standard: 2.5rem;

@mixin footer-text-style {
    color: colors.$secondary;
    text-align: center;
}

footer {
    background-color: colors.$primary-two;

    #footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6.25rem 21.875rem;

        #footer-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            height: 100%;
            @include footer-text-style;

            span {
                font-size: $footer-text-standard-size;
            }

            #footer-text-title {
                margin-top: $footer-spacing-standard;
            }

            #footer-text-address {
                font-size: 1.875rem;
                margin: $footer-spacing-standard 0;
            }

            #footer-text-time {
                margin-bottom: calc($footer-spacing-standard / 2);
            }

            a {
                text-decoration: none;
                color: colors.$secondary;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        #footer-map {
            width: 70%;
            display: flex;
            justify-content: flex-end;
        }
    }

    #footer-credits {
        text-align: center;
        padding: 3.125rem 0;
        border-top: 1px solid colors.$secondary-two;

        span {
            @include footer-text-style;
            font-size: $footer-text-standard-size;
        }
    }
}
