@use 'assets/colors.scss';
@use 'assets/keyframes.scss';
@use 'assets/general.scss';
@use 'layout/footer.scss';

#barbers {
    margin-top: calc(100vh - 10.3125rem);
    display: flex;
    flex-direction: column;
    background-color: colors.$primary;

    div.barber-container {
        width: 100%;
        height: 50rem;
        display: flex;

        div.barber-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 9.375rem;
            width: 50%;
            height: 100%;
            color: colors.$secondary;
            text-align: center;

            h3 {
                font-size: 5rem;
                font-weight: 500;
                line-height: 5rem;
                text-transform: uppercase;
            }

            span {
                display: inline-block;
                font-size: 1.125rem;
                color: colors.$highlights;
                text-transform: uppercase;
                margin-bottom: 2.5rem;

                &#barber-text-title {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: colors.$secondary;
                    margin-bottom: 0.625rem;
                    text-transform: uppercase;
                }
            }

            p {
                font-size: 1.25rem;
                margin-bottom: 0.625rem;
                padding: 0 0.625rem;
            }
        }

        div.barber-image {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top right;
            }
        }
    }
}

#services {
    background-color: colors.$primary-two;
    padding: 3.125rem 0;

    h2 {
        padding: 3.125rem 0;
        font-size: 5rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: colors.$secondary;
        margin-bottom: 3.125rem;
    }

    #services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4.375rem;
        grid-row-gap: 4.375rem;
        padding: 0 21.875rem;
        margin-bottom: 3.125rem;

        div {
            width: 31.25rem;
            color: colors.$secondary;

            img {
                width: 100%;
            }

            h3 {
                font-size: 3rem;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                margin: 1.25rem 0;
            }

            p {
                text-align: center;
                font-size: 1.25rem;
            }
        }
    }

    #services-button {
        display: flex;
        justify-content: center;
        padding: 0 21.875rem;

        a {
            width: 100%;
            height: 3.75rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0;
            line-height: 3.75rem;
        }
    }
}

#path {
    background-color: colors.$primary-two;
    padding: 3.125rem 0;

    h3 {
        padding-top: 6.25rem;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: colors.$secondary;
        margin-bottom: 3.125rem;
    }

    #path-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 3.125rem;
        padding: 0 21.875rem;

        div {
            text-align: center;
            padding: 0 1.5625rem;

            span.path-number {
                font-size: 3.75rem;
                font-weight: 300;
                color: colors.$highlights;
            }

            h4.path-title {
                font-size: 1.875rem;
                line-height: 2.5rem;
                font-weight: 500;
                color: colors.$secondary;
                text-transform: uppercase;
                margin-bottom: 1.875rem;
            }

            p.path-text {
                font-size: 1.25rem;
                color: colors.$secondary;
            }

            &#path-1 {
                grid-area: 1 / 1 / 3 / 3;
            }

            &#path-2 {
                grid-area: 1 / 3 / 3 / 5;
            }

            &#path-3 {
                grid-area: 1 / 5 / 3 / 7;
            }

            &#path-4 {
                grid-area: 3 / 1 / 5 / 4;
            }

            &#path-5 {
                grid-area: 3 / 4 / 5 / 7;
            }
        }
    }
}

#gallery {
    background-color: colors.$secondary;
    padding: 3.125rem 0;

    h3 {
        font-size: 5rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: colors.$primary;
        margin-bottom: 3.125rem;
    }

    #gallery-container {
        padding: 1.25rem;

        #gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 0.625rem;

            .gallery-item {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: calc(25% - 0.46875rem);
                box-sizing: border-box;
                overflow: hidden;
                aspect-ratio: 4 / 3;
                background-color: #333;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

#online-booking {
    background-color: colors.$primary-two;

    h3 {
        padding: 6.25rem 0;
        font-size: 3.125rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: colors.$secondary;
    }
}

#gentleman-club {
    padding: 6.25rem 0;
    background-color: colors.$primary-two;

    #gentleman-club-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding: 0 350px;

        #gentleman-club-image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        #gentleman-club-text {
            width: 50%;
            color: colors.$secondary;

            span {
                font-size: 20px;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                margin: 20px 0;
            }

            a {
                margin-top: 30px;
            }
        }
    }
}
